/* add your CSS code for lab3_ex2.css here */
body{
  background-image: url("./background.png");
}

.contents{
  width: 400px;
  margin: auto;
  background-color: #EEEEEE;
  border-style: solid;
  border-color: #999999;
  border-width: 5px;
  padding: 5px;
}

p > img{
  width: 250px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
}

.fieldOne p{
  text-align: center;
}

.wh{
  color: black;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.rd{
  color: white;
  background-color: red;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.bl{
  color: white;
  background-color: blue;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.gr{
  color: white;
  background-color: green;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.cardNum > input[type="text"]{
  width: 4em;
  font-family: monospace;
}

.exp > input[type="text"]{
  width: 2em;
  font-family: monospace;
}

.bottom{
  overflow: hidden;
}

.sub{
  float: left;
}

.res{
  float: right;
}

.bottom input[type="submit"]{
  background-color: black;
  color: white;
  padding: 5px;
  font-family: monospace;
}

.bottom input[type="reset"]{
  padding: 5px;
}
