body{
  border-color: white;
  border-width: 3px;
  border-style: solid;
  background: url(images/background.gif);
  margin-left: 10%;
  margin-right: 10%;
  font-family: sans-serif;
}

p{
  /**border-color: black;
  border-width: 3px;
  border-style: solid; */
}

img{
  float: right;
}

.all{
  background-color: white;
}

.top{
  border-color: white;
  border-width: 3px;
  border-style: solid;
  text-align: right;
  background-color: rgb(168, 213, 255);
}

.bord2{
  border-color: orange;
  border-width: 3px;
  border-style: solid;
}

.date{
  border-bottom: dotted black 2px;

}

.jour{
  border-color: white;
  border-width: 3px;
  border-style: solid;
  background-color: rgb(168, 213, 255);
  padding: 5px;
  margin-top: 10px;
  overflow: hidden;
}

.foot{
  text-align: center;
  padding: 5px;
  margin-top: 10px;
}
