body{
  border-color: green;
  border-width: 3px;
  border-style: solid;
  background: url(images/background.gif);
  margin-left: 10%;
  margin-right: 10%;
}

p{
  /**border-color: black;
  border-width: 3px;
  border-style: solid; */
}

.all{
  background-color: white;
}

.top{
  border-color: red;
  border-width: 3px;
  border-style: solid;
}

.bord2{
  border-color: orange;
  border-width: 3px;
  border-style: solid;
}

.date{
  border-color: purple;
  border-width: 3px;
  border-style: solid;
}

.jour{
  border-color: blue;
  border-width: 3px;
  border-style: solid;
  background-color: rgb(196, 226, 255);
  padding: 5px;
  margin-top: 10px;
}

.foot{
  border-color: yellow;
  border-width: 3px;
  border-style: solid;
}
