/* add your css code for lab3_ex1.css here */
.top-right{
  text-align: right;
  font-family: "Times New Roman";
}
.login{
  color: white;
  background-color: black;
  font-family: monospace;
  font-size: 10pt;
  padding: 5px;
  text-decoration: none;
}

.main-content{
  width: 250px;
  margin: auto;
  margin-top: 20px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

div > p {
  margin: 2px;
}

.logoSet{
  text-align: center;
}

input[type="text"]{
  width: 240px;
}

input[type="submit"]{
  width: 240px;
  background-color: black;
  color: white;
  padding: 5px;
}
